 
.dropdown-menu .submenu {
    opacity: 0;
    position: absolute;
    width: 200px;
    top: 56px;
    left: 188px;
    background-color: white;
    transition: 2s;
   
   
    
}
.dropdown-menu > li:hover > ul.submenu {
    display: block;
    transition: 1s;
     opacity: 1;
}
.submenu{
    list-style-type: none;
    padding: 0;
  
}
.submenu a{
    color: #333333;
    text-decoration: none;
    padding-left: 10px;
    display: block;
}
.submenu li:hover{
   background-color: #f5f5f5;
}
.submenu li{
    padding-top: 5px;
    padding-bottom: 2px;
}

.open .dropdown-menu-item span{
    transform: rotate(270deg);
    margin-left: 15px;
}
.form{
    width: 360px;
    margin-left: auto;
    border: 1px solid #E4E6F2;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 0 0 8px 0px rgba(221, 221, 221, 1);
    margin-bottom: 400px;
    opacity: 0;
}
.form-title{
    color: #5BAAEA;
    font-weight: 600;
    font-size: 16px;
    position: relative;
    margin-bottom: 20px;
    
}
.form p span{
    font-weight: normal;
}

.form-title::before {
    position: absolute;
    content: '';
    height: 2px;
    width: 26%;
    background-image: linear-gradient(90deg,transparent, transparent 50%, #fff 50%, #fff 100%), linear-gradient(90deg, #69d2e7, #5baaea, #5baaea, #5baaea, #5baaea);
    background-size: 6px 1px, 32% 26px;
    border: none;
    top: 24px;
  }
  .form label{
      color: #8D959B;
      display: flex;
      justify-content: space-between;
      font-weight: 600;
      margin-bottom: 25px;
      align-items: center;
      
  }
  .form label:nth-of-type(3){
      justify-content:start;
  }

.form input{
    padding:8px;
    border:none;
    border:2px solid #ECEEF0;
    border-radius: 10px;
}
input[type="checkbox"]{
    margin-left: 50px;
}

input::placeholder{
    color: #868F96;
}


